{% extends 'base.html' %}
{% block title %}
    Share blog
{% endblock %}

{% block content %}
    {% if sent %}
        <div class="content">
            <div class="row">
                <div class="col-lg-4">
                <h1>E-mail successfully sent!</h1>
                <br>
                <p>{{ post.title }} sent to {{ cd.to }}</p>

                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <div class="row">
                <div class="col-lg-4">
                    <h1>Share {{ post.title }} by e-mail:</h1>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Send mail" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}